.add_button{
    background-color: rgb(0, 60, 255);
    border: none;
    border-radius: 5px;
    width: 27px;
    height: 27px;
    color: white;
    cursor: pointer;
    font-size: 140%;
    padding-left: 4.5pt;
}


.add_button:hover,
.add_button:focus {
    /*outline: 2px solid white;*/
    outline: none;
    background-color: darkblue;

}