.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 18pt;
    position: absolute;
    bottom: 25px;
    width: 100%;
}

.bottom_button_reg,
.bottom_button_new {
    width: 100%;
    font-size: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 60%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom_button_reg {
    color: rgb(15, 116, 231);
    background: white;
}

.bottom_button_new {
    color: white;
    background: radial-gradient(rgb(0, 114, 185), rgb(0, 60, 255));
}

#show_uncomplete {
    margin-left: 30px;
}

#clear_complete {
    margin-right: 30px;
}

.bottom_button_reg:active
, .bottom_button_reg:hover
{
    background: radial-gradient(rgb(0, 114, 185), rgb(0, 60, 255));
    color: white;
}

.bottom_button_new:active
, .bottom_button_new:hover
{
    background: white;
    color: rgb(15, 116, 231);
}

.bottom_button_new:focus
, .bottom_button_reg:focus
{
    outline: 3px solid black;
}