.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 18pt;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 11.5%;
}

.bottom_button_reg {
    width: 100%;
    font-size: 100%;
    color: rgb(15, 116, 231);
    background: white;
    border-radius: 5px;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 60%;
}

.bottom_button_new {
    width: 100%;
    font-size: 100%;
    color: white;
    background: radial-gradient(rgb(0, 114, 185), rgb(0, 60, 255));
    border-radius: 5px;
    border: none;
    outline: none;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 60%;
}


#show_uncomplete {
    margin-left: 2.5%;
}

#clear_complete {
    margin-right: 2.5%;
}

.bottom_button_reg:hover {
    background: radial-gradient(rgb(0, 114, 185), rgb(0, 60, 255));
    color: white;
}

.bottom_button_new:hover {
    background: white;
    color: rgb(15, 116, 231);
}