/* Button design modified from
   https://codepen.io/AllThingsSmitty/pen/WjZVjo */

.check_button, .add_button {
    position: relative;
    padding-right: 8px;
}

.check_button label,
.add_button label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 27px;
    height: 25.49px;
    left: 0;
    position: absolute;
    top: 0;
    margin-top: 0.3px;
    cursor: pointer;
}

.check_button label:hover,
.add_button label:hover {
    box-shadow: 0 0 6px rgb(101, 170, 248);
}

.check_button label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 4px;
    width: 11px;
    left: 7px;
    top: 10px;
    opacity: 0;
    position: absolute;
    transform: rotate(-45deg);
}

.add_button label:after {
    color: white;
    content: "+";
    left: 5.7px;
    top: -4.5px;
    font-size: 160%;
    position: absolute;
}

.check_button input[type="checkbox"] {
    visibility: hidden;
}

.check_button input[type="checkbox"]:checked + label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.add_button input[type="checkbox"] + label {
    background-color: rgb(0, 60, 255);
    border-color: rgb(0, 60, 255);
}

.check_button input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
