.dropDown {
    border: none;
    outline: none;
    background-color: rgb(223, 227, 243);
    width: 100px;
    height: 27.49px;
    border-radius: 5px;
    cursor: pointer;
}

.dropDownLabel {
    color: white;
}


.dropDown:hover,
.dropDown:focus {
    background-color: black;
    color: white;
}