h1 {
    font-size: 320%;
    text-align: left;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    text-transform: capitalize;
    margin: 20px 0 20px;
}

.fa-calendar-check {
    float: right;
}