.priority {
    border-radius: 5px;
    background-color: white;
    border: none;
    font-family: 'Lora', sans-serif;
    cursor: pointer;
    width: 78px;
    height: 27.49px;
    outline: none;
}

.a {
    background-color: #ff8484;
}

.b {
    background-color: yellowgreen;
}

.c {
    background-color: lightskyblue;
}

.priority:hover,
.priority:focus {
    color: white;
}

.a:hover,
.a:focus {
    background-color: #750202;
}

.b:hover,
.b:focus {
    background-color: #43600e;
}

.c:hover,
.c:focus {
    background-color: #1a94ea;
}

.psquished {
    width: 45px;
}