#sortSelector {
    border: none;
    outline: none;
    background-color: rgb(223, 227, 243);
    margin-bottom: 15px;
    margin-left: 2.5%;
    width: 100px;
    height: 27.49px;
    border-radius: 5px;
}

#sortLabel {
    color: white;
    margin-left: 2.5%;
}