#sortSelector {
    border: none;
    outline: none;
    background-color: rgb(223, 227, 243);
    margin-bottom: 15px;
    width: 100px;
    height: 27.49px;
    border-radius: 5px;
    cursor: pointer;
}

#sortLabel {
    color: white;
}


#sortSelector:hover,
#sortSelector:focus {
    background-color: black;
    color: white;
}