.top_button {
    border: none;
    outline: none;
    background-color: rgb(223, 227, 243);
    width: 27px;
    height: 27.49px;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: top;
}

.top_button:hover:not([disabled]),
.top_button:focus {
    background-color: black;
    color: white;
}

.top_button:disabled {
    cursor: auto;
    opacity: 70%;
}
